{% extends "base.html.twig" %}

{% block title %}Draw Card{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('deck') }}">The Deck</a></li>
            <li><a href="{{ path('draw') }}">Draw a card</a></li>
            <li><a href="{{ path('shuffle_deck') }}">Shuffle deck</a></li>
        </ul>
    </nav>
    
    <div class="card-container">
        <div class="card">
            {{ cards|raw }}
        </div>
    </div>

{% endblock %}