{% extends "base.html.twig" %}

{% block title %}ME{% endblock %}

{% block body %}
    <img id="bildme" src="{{ asset('img/filippa.jpg') }}" alt="me">

    <h1>Lite om mig <3</h1>

    <p>Denna sidan innehåller en presentation av mig själv. Underhåll denna sidan under hela kursen och uppdatera den efter hand och behov.</p>

    <p>Mitt namn är Filippa Lissäng Öst. Född och uppväxt i en liten håla mit i skåne. På sommrarna var vi alltid i dalarna och hälsade på familjen. Jag flytade till Karlskrona i 2022 för att köra tekniskt basår.</p>

    <p>Jag är född 2003 och har en storasyster som pluggar till vetrenär i litauen.</p>

    <p>Jag har alldrig varit den bästa med teknik men tycker det är roligt och vem gillar inte en utnmaning. Mitt favorit spel på datorn är mincraft men jag tycker det är ett horror game.</p>

    <p>Mina hobbis är väldigt utsprida för jag gillar att göra det mesta mrn särskilt att hänga med kommpisar och djur.</p>

    <p>Ses senare aligator!</p>

{% endblock %}
