{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisningstexter</h1>

    <h2 id="kmom01">Kmom01</h2>
    <p>
    Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
    Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
    Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
    Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
    Vilken är din TIL för detta kmom?
    </p>
    <p>
    Mina förkunskaper kring objektorienterade kurser är inte mycket för jag har innan detta väldigt lite koll på det och har fortfarande det.
    För att komma igång med klasser i PHP bör du förstå:
    1.Klasser och objekt: Klasser är mallar, objekt är instanser.
    2.Egenskaper och metoder: Variabler och funktioner inom klassen.
    3.Åtkomst: Public, private och protected styr åtkomst.
    4.Konstruktorn: Initierar egenskaper vid skapandet av ett objekt.
    5.Arv: Skapa nya klasser baserade på befintliga.
    Det är väldigt mycket och jag fattar det fortfatande inte till fullo men efter ett långt tag av att jobba med det så förstår jag mer än vad jag gjorde innan idag. 
    Artikeln “PHP The Right Way” är en bra resurs och delarna jag tyckte var intresanta PSR-standarder, Autoloding, Felhantering, Säkerhet och Testing.
    Min TIL är att jag inte gillar första övningen i mvc för den gjorde att jag fattade typ noll.
    </p>

    <h2 id="kmom02">Kmom02</h2>
    <p>
    Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.
    Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?
    Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?
    Vilken är din TIL för detta kmom?
    </p>
    <p>
    I PHP används arv för att låta klasser ärva egenskaper och metoder från andra klasser, komposition för att bygga komplexa objekt genom att inkludera instanser av andra klasser, interface för att definiera metoder som klasser måste implementera för att säkerställa enhetlighet, och traits för att återanvända kod mellan klasser utan att skapa en strikt klasshierarki.
    Min implementation för uppgiften är att bara göra mitt bästa och nu funkar det så jag rör det inte just i denna stunden, även finns det förbättringspotential absolut men just nu funkar det på ett rälativt bra sätt så då är det bra nog.
    Mina reflektoner så här långt att ha jobbat med Symfony är att man förstår mer ju mer du jobabr med det.
    Min TIL är att jag gillar andra uppgiften mer än den första i mvc för den gjorde att jag fattade lite mera åtminstånde.
    </p>
{% endblock %}
